.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
#nav-bar {
  margin-top: 10%;
}
.header {
  background-color: salmon;
  color: white;
  height: 150px;
  padding: 50px;
}
.allwrapper {
  background-color: rgb(223, 223, 223);
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.loginform{
  border: 1px solid rgb(173, 169, 169);
  padding: 20% 10%;
  background-color: rgb(221, 221, 221);
}
.loginimage{
  height:auto;
  width:50px;
  display: block;
  margin: auto;
  
}
.loginbox{
  margin: 0;
  padding: 0;
  width: 320px;
  height: 420px;
  color: black;
  background-color:rgb(231, 231, 231);
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing:border-box;  
}
.loginbox h3{
  color:black;
  text-align: center;
  margin-top:10px;
}
.loginbox Form{
  margin-top:30px;
}